ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", KERNEL=="sd?1", RUN+="/usr/bin/systemctl start nas-hdd.service"

ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", KERNEL=="sd?1", RUN+="/usr/bin/systemctl stop nas-hdd.service"

